@import './color';
@import './font';
@import './mixin';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Noto Sans KR', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: normal;
}